.vs/Vindictus/FileContentIndex
Client/Bin/Resources
Client/Bin/Client.exe
Client/Bin/Client.pdb
Client/Bin/Engine.dll
Client/Bin/Shader_VtxPosTex.cso
Client/Default/x64
.vs/Vindictus/v17
Edit
Engine/Bin
Engine/Default/x64
EngineSDK
Engine/Public/RapidJson
x64
Client/Bin/Debug
Client/Bin/Release
